html {
    height: 100%;
}

body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='250' preserveAspectRatio='none' viewBox='0 0 1440 250'%3e%3cg mask='url(%26quot%3b%23SvgjsMask2051%26quot%3b)' fill='none'%3e%3crect width='1440' height='250' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient2052%26quot%3b)'%3e%3c/rect%3e%3cpath d='M30 250L280 0L472 0L222 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2053%26quot%3b)'%3e%3c/path%3e%3cpath d='M278.6 250L528.6 0L813.6 0L563.6 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2053%26quot%3b)'%3e%3c/path%3e%3cpath d='M497.20000000000005 250L747.2 0L945.2 0L695.2 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2053%26quot%3b)'%3e%3c/path%3e%3cpath d='M738.8000000000001 250L988.8000000000001 0L1287.3000000000002 0L1037.3000000000002 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2053%26quot%3b)'%3e%3c/path%3e%3cpath d='M1395 250L1145 0L975.5 0L1225.5 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2054%26quot%3b)'%3e%3c/path%3e%3cpath d='M1163.4 250L913.4000000000001 0L572.9000000000001 0L822.9000000000001 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2054%26quot%3b)'%3e%3c/path%3e%3cpath d='M946.8 250L696.8 0L504.79999999999995 0L754.8 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2054%26quot%3b)'%3e%3c/path%3e%3cpath d='M683.1999999999999 250L433.19999999999993 0L170.69999999999993 0L420.69999999999993 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2054%26quot%3b)'%3e%3c/path%3e%3cpath d='M1213.4866206283132 250L1440 23.486620628313176L1440 250z' fill='url(%26quot%3b%23SvgjsLinearGradient2053%26quot%3b)'%3e%3c/path%3e%3cpath d='M0 250L226.51337937168682 250L 0 23.486620628313176z' fill='url(%26quot%3b%23SvgjsLinearGradient2054%26quot%3b)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask2051'%3e%3crect width='1440' height='250' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='79.34%25' y1='-119%25' x2='20.66%25' y2='219%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient2052'%3e%3cstop stop-color='rgba(51%2c 121%2c 149%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(79%2c 100%2c 110%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='0%25' y1='100%25' x2='100%25' y2='0%25' id='SvgjsLinearGradient2053'%3e%3cstop stop-color='rgba(2%2c 8%2c 20%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(2%2c 8%2c 20%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3clinearGradient x1='100%25' y1='100%25' x2='0%25' y2='0%25' id='SvgjsLinearGradient2054'%3e%3cstop stop-color='rgba(2%2c 8%2c 20%2c 0.2)' offset='0'%3e%3c/stop%3e%3cstop stop-opacity='0' stop-color='rgba(2%2c 8%2c 20%2c 0.2)' offset='0.66'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Lato';
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: #f0f0f0;
    color: black;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.text-better-white {
    color: #F5FFFA;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}