<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" aria-haspopup="true"
                aria-expanded="false">
                Full List
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" aria-haspopup="true"
                aria-expanded="false">
                Movies
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-better-white mr-5" href="#" aria-haspopup="true"
                aria-expanded="false">
                TV Shows
            </a>
        </li>
    </ul>
</div>